.search-input-wrapper,
.loading-indicator {
  margin: 2rem auto;
}

.record-wrapper {
  margin: 1rem auto;
  padding: 1rem 2rem;
  border: 0.1rem solid #e2e2e2;
}

.record-name {
  border-bottom: 0.1rem solid #e2e2e2;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
